body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search {
    width: 200px;
}

.search {
    font-size: 18px;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.history {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.history-item {
    display: grid;
    gap: 10px;
    border: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.first {
    border: 3px solid black;
    font-size: 20px;
}

.history-label {
    font-size: 14px;
    font-weight: 600;
    color: grey;
}

.unit-toggle > span {
    cursor: pointer;
    color: grey;
}

.unit-toggle > .current-unit {
    color: black;
}

.timestamp {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.weather,
.description {
    grid-column: 2 / 3;
}

.description {
    grid-row: 2 / 3;
}

.mainTemp,
.maxTemp,
.minTemp {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
}

img {
    max-height: 200px;
    max-width: 500px;
}