p {
    margin: 0;
}

.history {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-item {
    display: grid;
    gap: 10px;
    border: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}